<%= form_tag(url, method: :get, id: 'search-form', class: "flex items-center mr-4") do %>
  <div data-controller="autocomplete" data-autocomplete-url-value="<%= value %>" role="combobox">
    <%= text_field_tag :artist_name, params[:artist_name], placeholder: t('defaults.artist_name'), class: "px-4 py-2 border rounded-md", data: { autocomplete_target: "input" } %>
    <input type="hidden" name="selected_value" data-autocomplete-target="hidden"/>
    <%= submit_tag t('defaults.search'), class: "btn btn-neutral ml-2" %>
    <ul class="list-group" data-autocomplete-target="results"></ul>
  </div>
<% end %>