<h1>Questions#index解答選択ページ</h1>

<p>回答してください</p>
<h2>Life is short, make it count.</h2>
<h2>Dream big, work hard.</h2>
<h2>Time flies when you're having fun.</h2>
<h2>Believe in yourself and never give up</h2>

<%= link_to "答えページへ", explanation_question_path(id: 3) %>
