<h1>難易度別一覧</h1>

<%= link_to "問題ページへ", question_path(id: 3) %>

<% @questions.each do |question| %>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= question.youtube_id %>?controls=0&amp;start=<%= question.youtube_start_time %>&end=<%= question.youtube_end_time %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<% end %>
