<h1>難易度別一覧</h1>
<h1><%= @difficulty.upcase %> Questions</h1>
-------------------------------------------
<% counter = 1 %>
<% @questions.each_slice(5) do |batch| %>
  <ul>
    <% batch.each_with_index do |question, i| %>
      <button class="btn"><%= link_to "#{@difficulty.upcase} No.#{counter}", question_path(question) %></button>
      <% counter += 1 %>
      <% break if i== 0 %>
    <% end %>
  </ul>
<% end %>