<h1>Questions#index解答解説ページ</h1>
<p>答え</p>
<p>A Sugar Yes, please Won't you come and put it down on me?</p>
<p>ポイント</p>
<p>Wont you~~</p>

<%= link_to "次のクイズへ", "#" %>
<%= link_to "結果へ", "#" %>
<%= link_to "トップへ", questions_path %>

