<div>
  <button class="btn btn btn-neutral"><%= link_to "Easy", difficulty_questions_path('easy') %></button>
  <button class="btn"><%= link_to "Normal", difficulty_questions_path('normal') %></button>
  <button class="btn"><%= link_to "Difficult", difficulty_questions_path('difficult') %></button>
</div>

<div>
  <button class="btn btn-primary rounded-full">
    daisyUI Button
  </button>

  <button class="bg-indigo-600 px-4 py-3 text-center text-sm font-semibold inline-block text-white cursor-pointer uppercase transition duration-200 ease-in-out rounded-md hover:bg-indigo-700 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-600 focus-visible:ring-offset-2 active:scale-95">
    Tailwind Button
  </button>
</div>