<h1 class="text-5xl font-bold">
    空耳Englishとは
</h1>

<div class="top-wrapper">
  <div class="h-screen w-screen flex justify-center items-center">
    <div class="top-inner-text">
      <p class="text-4xl">空耳English's toppage</p>
    </div>
  </div>
</div>