<footer class="mx-auto max-w-screen-2xl">
  <div class="bg-white pt-4 sm:pt-10 lg:pt-12 mt-10">
    <p class="py-8 text-center text-sm text-gray-400">© 2023 - 空耳English</p>
    <%= link_to (t "defaults.terms_of_service"), "#", class: "py-8 text-sm text-gray-400" %>
    <%= link_to (t "defaults.privacy_policy"), "#", class: "py-8 text-sm text-gray-400" %>
    <%= link_to (t "defaults.inquiry"), "#", class: "py-8 text-sm text-gray-400", target: '_blank' %>
  </div>
</footer>