<footer class="footer footer-center p-10 bg-base-300 text-base-content rounded mt-auto">
  <div class="grid grid-flow-col gap-4">
    <%= link_to (t "defaults.terms_of_service"), pages_terms_path, class: "link link-hover" %>
    <%= link_to (t "defaults.privacy_policy"), pages_privacy_path, class: "link link-hover" %>
    <%= link_to (t "defaults.inquiry"), "https://docs.google.com/forms/d/e/1FAIpQLSd0PiJ7UZIEuhm904qOPqL2rbFfkFTnvR-8k-9pConFEKbahQ/viewform?usp=sf_link", class: "link link-hover", target: '_blank' %>
  </div> 
  <div>
    <p>© 2023 - <%= (t 'defaults.app_name') %></p>
  </div>
</footer>